# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.env.bak/
*.env

# Jupyter Notebook
.ipynb_checkpoints

# Mac/Windows/Linux hidden files
.DS_Store
Thumbs.db

# Logs
*.log

# Large model files
*.h5
*.ckpt
*.weights
*.pkl
*.pt
*.onnx
*.gguf

# Tensorflow cache
__pycache__/
.saved_model/
